/* your styles go here */

.myName {
    font-family: 'Mr De Haviland', cursive;
    font-size: 300%;
}

#intro .myName {
    font-family: 'Mr De Haviland', cursive;
    font-size: 400%;
}

/* ----------------------------------------------- */

/* Video trick */

/* ----------------------------------------------- */

.video-container {
    position: relative;
}

.video-container video {
    width: 100%;
    height: auto;
}

.video-container .over-the-video {
    position: absolute;
   /* background: rgba(28, 31, 39, 0.7); */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    flex-wrap: wrap;

}

.over-the-video {
    width: 100%;
    height: 100%; /*changed from 'auto' to '100%' */
    position: absolute;
}

.full-view{
  display:inline-block;
}

.small-view { /*not shown by default... media queries activates this div*/
  display:none; 
}
/* 
.intro url {
  display: none;
} */

@media screen and (max-width: 1345px) {
   .full-view{
      display:none;
   }

   .small-view{
      display:inline-block; /*div for small-view "activated" */
   }

   video {
     display: none;
   }
}


/* ---------------------Cellphones widths-------------------------- */


.cellphone-banner {
  display: none;
}


@media only screen and (min-width: 360px) and (max-width: 767px) { 
  
  
  #intro[style] h1 {
    font-size: 350% !important;
    margin-top: 57%;
    font-weight: 100;
    font-family: 'Lato', 'Arial', sans-serif;
    /* default is */
    /* font-size: 420%;
    font-weight: 390; */
   }

  .overlay .italic {
    display: none;
  }

  .cellphone-video video {
    display: inline-block;
    height: 100%;
  }

  h2 {
    font-weight: 100;
  }

  .intro {
    /* height: 50vh; */
    background-image: none;
    background-image: url('img/coffee.jpg')
  }

  #intro .myName {
    font-family: 'Mr De Haviland', cursive;
    font-size: 400%;
    margin-top: -24%
  }

  #intro[style] {
    background-image: none !important;
    /* height: 20vh !important; */
    background: linear-gradient(black, black, rgb(45, 43, 43), rgb(89, 84, 84), white) !important; 
  }

   #intro .overlay {
    background: linear-gradient(to right, rgba( rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.2))) !important;
  }

  #about .resume-button-div {
    margin: 0 0 0 18%;
  }

  .btn:link, .btn:visited {
    background: rgb(38, 36, 36);
    color: white;
  }
  
  .picture-div {
    width: 70%;
    height: 70%;
    margin: 3% 10% 0 0;
  }

   /* .cellphone-banner {
      display: inline-block;
      background-size: cover;
      height: 100%;
      overflow: hidden;
  }; */

  .dev-icon[style] {
    font-size: 630% !important;
    margin: 1%;
  }

  .node-icon[style] {
    font-size: 630% !important;
    margin-top: -3%
  }


  .js-icon[style] {
    font-size: 550% !important;
  }

  .project-div {
    width: 65%;
    margin: 10% 0;
  }

  .github-div {
    margin-left: -10%;
  }

  #services .my-in-technologies {
    display: none;
  }
  
  iframe {
    width: 100%;
    height: 50%;
  }
}

/*-------------------------------------------*/


.social-icon {
  color: rgb(65, 60, 60); margin: 0 1%;
}

#services .heading {
    margin-top: -5%;
}

#services .heading {
    margin-top: -5%;
}

.about-text,
.projects-text {
    font-size: 130%;
    font-family: 'Montserrat', sans-serif;
}


/* ----- BUTTON ----- */


.resume-button-div {
  margin: 0 0 0 25%;
}

.btn:link, .btn:visited {
  text-decoration: none;
  border: 1px solid rgb(218, 208, 208);
  padding: 10px 30px;
  border-radius: 15px;
}

.btn-ghost:hover, .btn-ghost:active {
  transition: 1s ease;
  background: rgb(38, 36, 36);
  color: white;
}

/*///////////////////////////////// PORTFOLIO SECTION ///////////////////////////////*/

.github-icon {
	font-size: 500%;
  display: inline-block;
  margin-right: 45px;
}

.github-icon {
  opacity: .4;
}

.computer-icon {
  opacity: .4;
}


.github-div {
  float: left;

}

.computer-div {
  float: right;
}

.github-icon:hover {
  display: show;
  opacity: 1;
  background: rgba(94, 154, 228, 0.625);
  transition: .5s ease;
  border-radius: 10px;
}

.computer-icon {
   font-size: 430%;
   display: inline-block;
   margin-left: 45px;
}

.computer-icon:hover {
  background: rgba(94, 154, 228, 0.625);
  transition: .5s ease;
  border-radius: 10px;
  content: hello;
  opacity: 1;
}

.portfolio-item {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 530px;
  margin: auto auto 1rem;
}

.portfolio-item .caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 37, 41, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.portfolio-item .caption .caption-content {
  margin: 40% 20%;
  width: 100%; 
}


.projects-section {
  /* padding: 5rem 0; */
}

.projects-section .featured-text {
  padding: 2rem;
}

.projects-section .project-text {
  padding: 3rem;
  font-size: 90%;
}


.portfolio-item .caption .caption-content {
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 5rem;
}
.portfolio-item img {
  -webkit-transition: -webkit-clip-path 0.25s ease-out;
  -webkit-clip-path: inset(-1px);
  clip-path: inset(-1px);
}
.portfolio-item:hover img {
  -webkit-clip-path: inset(2rem);
  clip-path: inset(2rem);
}
.portfolio-item:hover .caption { /*the overall thing*/
  background-color: rgba(65, 77, 80, 0.9);
  -webkit-clip-path: inset(2rem);
  clip-path: inset(2rem);
}

.spacing-between-project-rows {
  margin-bottom: 5.2%;
}

@media (min-width: 992px) {
  .projects-section .featured-text {
    padding: 0 0 0 2rem;
    border-left: 0.5rem solid #64a19d;
  }
}

@media (min-width: 992px) {
  .projects-section .project-text {
    padding: 5rem;
  }
  .projects-section .project-text hr {
    border-color: black;
    border-width: .25rem;
    width: 30%;
  }
}

@media (min-width: 992px) {
  .portfolio-item {
    max-width: none;
    margin: 0;
  }
  .portfolio-item .caption {
    -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
    -webkit-clip-path: inset(0px);
    clip-path: inset(0px);
  }


/*-------------------Resume--------------------------*/

/* outer wrapper: set max-width & max-height; max-height greater than padding-bottom % will be ineffective and height will = padding-bottom % of max-width */
#Iframe-Master-CC-and-Rs {
  /* max-width: 900px; */
  max-width: 85%;
  max-height: 100%;
  overflow: hidden;
}

/* inner wrapper: make responsive */
.responsive-wrapper {
  position: relative;
  height: 0;    /* gets height from padding-bottom */

  /* put following styles (necessary for overflow and scrolling handling on mobile devices) inline in .responsive-wrapper around iframe because not stable in CSS:
    -webkit-overflow-scrolling: touch; overflow: auto; */

}

.responsive-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
  border: none;
}

/* padding-bottom = h/w as % -- sets aspect ratio */
/* YouTube video aspect ratio */
.responsive-wrapper-wxh-572x612 {
  padding-bottom: 60%;
}


/* =======resume, still======= */
.set-border {
  border: .52px inset #dee2e6;
  /* border: 5px inset #dee2e6; */

}
.set-box-shadow {
  -webkit-box-shadow: 4px 4px 14px #505458;
  -moz-box-shadow: 4px 4px 14px #666b70;
  box-shadow: 4px 4px 14px #9c9fa1;
}
.set-padding {
  padding: 4px;
}
.set-margin {
  margin: 30px;
}

.center-block-horiz {
  margin-left: auto !important;
  margin-right: auto !important;
}

/*----------------------digital resume----------------------------------*/
 
.tab-pane.active {
  animation: fadeIn 1s ease-out;
}
/* 
@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(100%); }
  100% { opacity: 1; transform: translateY(0); }
} */

#digital-resume {
margin-top: -5%;
}

#digital-resume .nav-item {
  margin-bottom: -1px;
  color: #555;
  font-family: 'Montserrat', sans-serif;
  font-size: 190%;
  font-style: italic;
  border-bottom: 1px solid transparent;
  
}

.nav-tabs {
  margin: 0;
  /* border: 1px solid red; */
}

.tab-content {
  padding: 30px;
  height: 100%; 
  border-left: 1px solid rgb(230, 227, 227); 
  border-right: 1px solid rgb(230, 227, 227);
  border-bottom: 1px solid rgb(230, 227, 227);
}

.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
  border-color: rgb(230, 227, 227);
  border-bottom-color: transparent;
}
.nav-tabs {
  border-bottom: 1px solid rgb(230, 227, 227); /*top border or square*/
}


#services {
  background: linear-gradient(#172029, #bdc3c7);
  /* background-image: url('img/main.jpg');  NOT WORKING, DONT KNOW WHY*/
}

.time {
  float: right;
  font-weight: 90;
  color: grey;
}



