/* your styles go here */

.myName {
    font-family: 'Mr De Haviland', cursive;
    font-size: 300%;
}

#intro .myName {
    font-family: 'Mr De Haviland', cursive;
    font-size: 400%;
}

/* ----------------------------------------------- */

/* Video trick */

/* ----------------------------------------------- */

.video-container {
    position: relative;
}

.video-container video {
    width: 100%;
    height: auto;

}

.video-container .over-the-video {
    position: absolute;
   /* background: rgba(28, 31, 39, 0.7); */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.over-the-video {
    width: 100%;
    height: auto;
    position: absolute;
}

/* ----------------------------------------------- */

#services .heading {
    margin-top: -5%;
}


#services .heading {
    margin-top: -5%;
}

.about-text,
.projects-text {
    font-size: 130%;
    font-family: 'Montserrat', sans-serif;
}


/* -----------------Projects <()<------------------------ */

.projects-section {
    padding: 15rem 0;
  }
  
  .projects-section .featured-text {
    padding: 2rem;
  }
  
  @media (min-width: 992px) {
    .projects-section .featured-text {
      padding: 0 0 0 2rem;
      border-left: 0.5rem solid #64a19d;
    }
  }
  
  .projects-section .project-text {
    padding: 3rem;
    font-size: 90%;
  }
  
  @media (min-width: 992px) {
    .projects-section .project-text {
      padding: 5rem;
    }
    .projects-section .project-text hr {
      border-color: black;
      border-width: .25rem;
      width: 30%;
    }
  }

  .proj-pic {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }


.project-hovered {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.project-div:hover .proj-pic {
  opacity: 0.3;
}

.project-div:hover .project-hovered {
  opacity: 1;
  display: inline-block;

}

.github-icon {
	font-size: 500%;
  display: inline-block;
  margin-right: 45px;
}

.computer-icon {
   font-size: 450%;
   display: inline-block;
   margin-left: 45px;


}

.computer-icon a {
color: black;
}

.github-icon:hover {
  background: rgba(255, 255, 255, 0.708);
  transition: .7s ease;
  border-radius: 10px;
}

.computer-icon:hover {
  background: rgba(255, 255, 255, 0.625);
  transition: .7s ease;
  border-radius: 10px;
  content: hello;
}




/*
.projects-section {
  padding: 10rem 0;
  .featured-text {
    padding: 2rem;
    @media (min-width: 992px) {
      padding: 0 0 0 2rem;
      border-left: 0.5rem solid $primary;
    }
  }
  .project-text {
    padding: 3rem;
    font-size: 90%;
    @media (min-width: 992px) {
      padding: 5rem;
      hr {
        border-color: $primary;
        border-width: .25rem;
        width: 30%;
      }
    }
  }
}


*/